
body{
	text-align: center;
}

#gameBoard{
	text-align: center;
}
#canvas0 {
	background-color: blue;	
	top: 5em;
	border: 1px solid #aaa;
    border-radius: 15px;
}
.dropdown{
	position: relative;
}

.control_panel *{
	width: 25%;
	text-align: center;
	display: inline-block;
	color: gray;
}